@model IEnumerable<MVCVitec.Models.Campaign>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CampaignName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CampaignDescriotion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CampaignPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CampaignRules)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CampaignName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CampaignDescriotion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CampaignPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CampaignRules)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CampaignId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CampaignId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CampaignId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
