@model IEnumerable<MVCVitec.Models.Product>

@{
    ViewData["Title"] = "Software Løsninger";
}

<h2>Software Løsninger</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="card-deck">
    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title"><b>@item.Name</b></h3>
                <h4>@item.Price,- DKK</h4>
                <h5 class="card-text">@item.Description</h5>
                <small><a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-primary">Detajler</a></small>
                <small><a asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-primary">Edit</a></small>
                <small><a asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-primary">Delete</a></small>
            </div>
        </div>
    }
</div>